<% content_for :field_filters do %>
  <div class="filter-form-col">
    <div class="form-group">
      <input class="form-control" 
         placeholder="Sector" 
         autocomplete="off" 
         type="text" 
         name="filter[search_applicant]" 
         id="filter_search_applicant"
          value="<%= get_value_from_filter(:search_applicant) %>">
      <label>Solicitante</label>
    </div>
  </div>
<% end %>
<% content_for :date_filter_label do %>
  <label>Entregado</label>
<% end %>
<%= render(partial:"sectors/internal_orders/filters_main",locals:{internal_orders_xpath:internal_orders_providers_path}) %>
