<div class="card fixed-panel-list">
  <table class="table table-hover table-striped table-sm">
    <thead >
      <tr>
        <th>Código</th>
        <th>
          <a href="#" class="custom-sort-v1" data-form="outpatient-prescriptions-filter" data-column="pr_fullname" data-sort-method="asc">
            Médico
          </a>          
        </th>
        <th>Paciente</th>
        <th>Estado</th>
        <th>Productos</th>
        <%# <th>Movimientos</th> %>
        <th>Recetada</th>
        <th class="text-center">Acciones</th>
      </tr>
    </thead>
    <tbody id="outpatient_prescriptions">
      <%= render @outpatient_prescriptions %>
    </tbody>
  </table>
</div>
<div class="row d-flex align-items-center" style="height: 50px">
  <div class="col-5">
    <%= js_will_paginate @outpatient_prescriptions, list_classes: %w(pagination mb-0),
      previous_label: '<i class="fa fa-angle-left"></i>',
      next_label: '<i class="fa fa-angle-right"></i>'
    %>
  </div>
  <div class="col-5 d-flex justify-content-around align-items-center">
    <div>
      Recetas <span class="badge badge-secondary"><%#= @outpatient_prescriptions.count %></span>
    </div>
    <div>
      <%#= link_to outpatient_prescriptions_path(filterrific: {:for_statuses => ['pendiente']}), 
        class: 'tn btn-link text-dark text-left p-0',
        title: "Ver recetas pendientes", data: { toggle: 'tooltip', placement: 'bottom' } do %>
        Pendientes <span class="badge badge-secondary"><%#= @outpatient_prescriptions.pendiente.count %></span>
      <%# end %>
    </div>
    <div>
      <%#= link_to outpatient_prescriptions_path(filterrific: {:for_statuses => ['dispensada']}), 
        class: 'tn btn-link text-dark text-left p-0',
        title: "Ver recetas dispensadas", data: { toggle: 'tooltip', placement: 'bottom' } do %>
        Dispensadas <span class="badge badge-success"><%#= @outpatient_prescriptions.dispensada.count %></span>
      <%# end %>
    </div>
  </div>
  <div class="col-2 d-flex justify-content-end align-items-center">
  </div>
</div>
