<% content_for :footer_extra_info do %>
  <div class="col-3 d-flex justify-content-around align-items-center">
    <div>
      Recetas <span class="badge badge-secondary"><%= @total %></span>
    </div>
    <div>
      Pendientes <span class="badge badge-secondary"><%= @total_pending %></span>
    </div>
  </div>
<% end %>

<% list = escape_javascript(
  render(partial: 'prescriptions/outpatient_prescriptions/partials/list', locals: { outpatient_prescriptions: @outpatient_prescriptions })
) %>

<% paginate = escape_javascript( 
  render( partial: 'shared/paginate_index',
          locals: { model: @outpatient_prescriptions }
        )
) %>
$("#table_results").html("<%= list %>");
$("#paginate_footer").html("<%= paginate %>");
setEventDestroyItem();
$("a.page-link").on('click', (e) => {
  $("#loader-container").css({'display': 'flex'});
})
$("#loader-container").css({'display': 'none'});
