<% content_for :title, "Médicos" %>

<% content_for :page_header do %>
    <li class="nav-item non-sel">
        <%= link_to professionals_path, class: "nav-link #{ active_action('index') }" do %>
          <%= fa_icon "user-md" %>
          Médicos
        <% end %>
    </li>
    <% if policy(Professional).new? %>
      <li class="nav-item">
        <%= link_to new_professional_path, class: "nav-link #{ active_action_and_controller('new', 'profesisonals') }" do %>
          <%= fa_icon "plus" %>
          Agregar
        <% end %>
      </li>
    <% end %>
  </ul>
<% end %>