<% if @lot_provenances.present? %>
  <div id="filterrific_results">
    <div class="row">
      <%= render @lot_provenances %>
    </div>
  </div>
<% else %>
  <%= render(
    partial: 'shared/not_found_filter',
    locals: { object_name: 'procedencias' }
  ) %>
<% end %>
