<div class="card fixed-panel-list">
  <table class="table table-hover table-striped table-sm">
    <thead >
      <tr>
        <th>Código</th>
        <th>
          <%= sort_label name: 'Médico', form: 'outpatient-prescriptions-filter', field: 'pr_fullname', icon_type: 'alpha' %>
        </th>
        <th>
          <%= sort_label name: 'Paciente', form: 'outpatient-prescriptions-filter', field: 'pa_last_name', icon_type: 'alpha' %>
        </th>
        <th>Estado</th>
        <th>Productos</th>
        <th>
          <%= sort_label name: 'Recetada', form: 'outpatient-prescriptions-filter', field: 'date_prescribed' %>
        </th>
        <th class="text-center">Acciones</th>
      </tr>
    </thead>
    <tbody id="outpatient_prescriptions">
      <%= render(partial: 'prescriptions/outpatient_prescriptions/partials/outpatient_prescription', collection: @outpatient_prescriptions, as: :outpatient_prescription) %>
    </tbody>
  </table>
</div>
