<div class="modal fade" tabindex="-1" role="dialog" id="anular-confirm">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content panel-warning">
      <div class="modal-header panel-heading bg-danger text-white">
        <h5 class="modal-title">
          <%# fill with Js %>
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>
          <%# fill with Js %>
        </p>
      </div>
      <div class="modal-footer text-right">
        <a href="#" data-dismiss="modal" class="btn btn-secondary">Cancelar</a>
        <%# fill link with JS %>
        <a data-disable-with="<i class='fa fa-spinner fa-spin'></i> Anulando" class="btn btn-danger" href="#">Anular</a>
      </div>
    </div>
  </div>
</div>