<div class="card">
  <table class="table table-hover table-striped table-sm">
    <thead >
      <tr>
         <%= th_label name: 'Dni', form: 'patients-filter', sort_field: 'dni', icon_type: 'numeric' %>
        <%= th_label name: 'Nombre y apellido', form: 'patients-filter', sort_field: 'patients.first_name', icon_type: 'alpha' %>
        <th>Estado</th>
        <th>Edad</th>
        <th>Sexo</th>
        <th>Recetas ambulatorias</th>
        <th>Recetas crónicas</th>
        <th class="text-center">Acciones</th>
      </tr>
    </thead>
    <tbody id="patients">
      <%= render(partial: 'patients/partials/patient', collection: @patients, as: :patient) %>
    </tbody>
  </table>
</div>
