<div class="card">
  <table class="table table-hover table-striped table-sm">
    <thead >
      <tr>
        <th>Dni</th>
        <th>Apellido y nombre</th>
        <th>Estado</th>
        <th>Edad</th>
        <th>Sexo</th>
        <th>Recetas ambulatorias</th>
        <th>Recetas crónicas</th>
        <th class="text-center">Acciones</th>
      </tr>
    </thead>
    <tbody id="patients">
      <%= render(partial: 'patients/partials/patient', collection: @patients, as: :patient) %>
    </tbody>
  </table>
</div>
