<% content_for :title, "Reportes" %>

<% content_for :page_header do %>
  <% if policy(Report).index? %>
    <li class="nav-item non-sel">
      <%= link_to reports_path, class: "nav-link #{active_action_and_controller('index', 'reports')}" do %>
        <%= fa_icon "file-alt" %>
        Reportes
      <% end %>
    </li>
  <% end %>
    
  <% if policy(Report).create? %>
    <li class="nav-item non-sel">
      <%= link_to new_report_path, class: "nav-link #{active_action_and_controller('new', 'reports')}" do %>
        <%= fa_icon "plus" %>
        Nuevo reporte
      <% end %>
    </li>
  <% end %>

<% end %>