<button type="button" 
        onclick="toggleSelectItem(event, 'product');"
        data-url="<%= unselect_product_reports_path(@product.id) %>"
        id="sp-<%=@product.id%>">
  <%= "#{@product.code} | #{@product.name}" %>
</button>