<% @products.each do |product| %>
  <li>
    <%=link_to set_product_reports_path(product.id, {product_ids: @product_ids, product_term: params[:product_term]}), remote: true do %>
      <%= highlight("#{product.code} | #{product.name}", params[:product_term], ignore_special_chars: true) %>
    <%end%>    
  </li>
<%end%>
