<tr id="laboratory_<%= laboratory.id %>">
  <div class="js-fade fade-in is-paused">
    <td><%= laboratory.name %></td>
    <td><%= laboratory.cuit %></td>
    <td class="text-left actions-col">
      <%= render(
        partial: 'shared/action_buttons',
        locals:{ 
          object: laboratory, 
          show: {visible: true, target: (show_target if defined?(show_target) )},
          edit: {visible: true, target: (edit_target if defined?(edit_target) )},
          destroy: {
            visible: true, 
            title: "Eliminar laboratorio",
            body: "Esta seguro que desea eliminar el laboratorio #{ laboratory.name }?",
            path: laboratory_url(laboratory.id)
          }
        }
      ) 
      %>
    </td>
  </div>
</tr>
