<div class="form-group string required permission_request_sector">
  <label class="form-control-label string required" for="permission_request_sector">Especifique el sector <abbr title="required">*</abbr></label>
  <input class="form-control string required" placeholder="Ej. Farmacia" type="text" name="permission_request[sector]" id="permission_request_sector" required="">
</div>