<%= simple_fields_for @permission_request do |f|%>
  <%= f.input :sector_id,
    as: :select,
    label: '¿A cuál sector pertenece?',
    include_blank: false,
    collection: @sectors.map {|sector|  [sector.name, sector.id]} + [["Otro...", 0]],
    :input_html => {
      placeholder: 'Seleccionar sector',
      required: true,
      class: 'selectpicker custom-select-pick',
      "title"=>"Seleccionar sector",
      "data-width"=>"100%",
      "data-size"=>"10",
      "data-live-search"=>true,
      "data-none-results-text" => "No se encontró el sector",
      value: f.object.sector_id.present? ? f.object.sector_id : ""
    }
  %>
<%end%>


<div id="sector-input">
  <% if @sectors.present? %>
    <%= render(partial: 'permission_requests/partials/sector_inputs') %>
  <% end %>
</div>