<div class="card fixed-panel-list">
  <table class="table table-hover table-striped table-sm">
    <thead >
      <tr>
        <%= th_label name: 'Nombre', form: 'sectors-filter', sort_field: 'name', icon_type: 'alpha' %>
        <%= th_label name: 'Establecimiento', form: 'sectors-filter', sort_field: 'establishment_name', icon_type: 'alpha' %>
      
      </tr>
    </thead>
    <tbody id="sectors">
            <%= render(partial: 'sectors/partials/sector', collection: @sectors, as: :sector) %>
    </tbody>
  </table>
</div>
