
<% content_for :field_filters do %>
  <div class="filter-form-col">
    <div class="form-group">
      
      <input class="form-control" 
               autocomplete="off" 
               type="text" 
               name="filter[provider]" 
               id="filter_provider" 
               placeholder="Sector"
               value="<%= get_value_from_filter(:provider) %>">
               <label>Proveedor</label>
    </div>
  </div>
<% end %>
<% content_for :date_filter_label do %>
  <label> Recibido </label>
<% end %>
<%= render "sectors/internal_orders/filters_main" %>
