<% render 'header' %>

<div class="card fixed-custom-card">
  <div class="card-header">
    <%= render 'filter' %>
  </div>
  <div class="card-body fixed-panel-index">
  <% if @lots.present? %>
    <div id="filterrific_results">
      <%= render(
        partial: 'lots/list',
        locals: { lots: @lots }
      ) %>
    </div>
  <% else %>
    <%= render(
      partial: 'shared/not_found_filter',
      locals: { object_name: 'lotes' }
    ) %>
  <% end %>

  </div>
</div>
