.custom-filters-v1{
  .filter-form-row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -5px;
    margin-left: -5px;
    .filter-form-col{
      flex-basis: 0;
      flex-grow: 1;
      max-width: 100%;
      padding-right: 2.5px;
      padding-left: 2.5px;
      position: relative;
      width: 100%;
      .form-group{
        margin: 1.2rem 0 0 0;
        position: relative;
        label {
          position: absolute;
          pointer-events: none;
          margin: 0;
          left: 0.8rem;
          top: 0.5rem;
          color: #a7a7a7;
          z-index: 10;
          transition: top .3s ease-out, left .3s ease-out, font-size .3s ease-out, color .3s ease-out;
          text-overflow: ellipsis;
          max-width: calc(100% - 0.8rem);
          overflow: hidden;
          white-space: nowrap;
        }
        input::placeholder {
          color: transparent!important;
        }
        input:focus ~ label, input:not(:placeholder-shown) ~ label,
        select:focus ~ label, select.filled ~ label{
          top: -1.2rem;
          left: 0rem;
          font-size: 0.8rem;
          color: #29abe1;
        }
      }
    }
    .filter-form-btn-group{
      padding: 1.2rem 2.5px 0;
    }
  }
}



// Default
mark {
  padding: 0;
  background-color: #ffe664;
}

mark.highlight-1 {
  padding: 0;
  background-color: #54eb5b;
}

mark.highlight-2 {
  padding: 0;
  background-color: #54cdeb;
}

th.sort{
  background-color:#f8f9fa;
  transition: background-color 0.2s ease-out;
  .custom-sort-v1.btn-list-sort{
    color: #393E46;
  }

  &:hover, &.active{
    background-color: #28ABE1;
    .custom-sort-v1.btn-list-sort{
      color: #fff;
    }
  }

  .custom-sort-v1.btn-list-sort{
    padding: 0 1rem 0 0;
    border: none;
    background: none;
    width: 100%;
    text-align: left;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: color 0.2s ease-out;
    font-weight: 700;
    &:focus{
      outline: none;
    }
  }
}