@import 'variables';

.all-cl-container{
  display: flex;
  justify-content: space-between;
  width: 85px;
  .label-fs-1{
    font-size: 1rem;
    margin-bottom: 0;
    margin-top: 2px;
  }
}

#location_select_container{
  width: calc(100% - 40px);
  #sectors-list{
    list-style: none;
    padding: 0;
    li {
      background-color: rgb(240,241,242);
      a.btn-sector {
        text-align: left;
        font-size: 0.75rem;
        font-weight: bold;
        width: 100%;
        &:hover{
          background-color: $cblue3;
          border-color: $cblue3;
          color: #fff;
        }
        &.active{
          background-color: $cblue2;
          color: #fff;
        }
      }
      span.badge {
        position: absolute;
        right: 0;
        bottom: 0;
      }
    }

  }
}

